@import "tailwindcss";
@import "tailwindcss/utilities";


:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);


  --breakpoint-sm: 640px;
  --breakpoint-md: 793px;
  --breakpoint-lg: 1126px;
  --breakpoint-xl: 1300px;
  --breakpoint-2xl: 1536px;
  --breakpoint-macbook: 1700px;
  --breakpoint-3xl: 2094px;
  --breakpoint-4k: 2560px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}
